<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="./css/main.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<body>
	<div class="app flex flex-row min-h-screen">
		<%- include('partials/sidenav') %>
		<%- include('partials/mobilenav') %>
		<div class="sm:ml-20 px-10 py-24 sm:py-14 w-full">
			<h1 class="text-3xl text-dark-gray font-semibold">Habits</h1>
			<!-- <p class="text-lg text-gray-400 mb-5"><%= new Date().toDateString(); %></p> -->
			<p class="text-lg text-gray-400 mb-5"><%= moment(new Date()).format("DD/MM/YYYY"); %></p>
			<!-- <p class="text-lg text-gray-400 mb-5"><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: '2-digit', day: '2-digit'}).format(new Date()); %></p> -->
			<div class="max-w-xl">
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">CE 1</p>
		            </label>
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">CE 2</p>
		            </label>
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">CE 3</p>
		            </label>
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">CE 4</p>
		            </label>
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Rage</p>
		            </label>
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Celebrate</p>
		            </label>
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Miotherapy</p>
		            </label>
				</div>
				<div class="task w-full flex justify-between border-b border-gray-300 py-4">
					<label class="inline-flex items-center cursor-pointer">
		                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
		                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Eye alignment</p>
		            </label>
				</div>
			</div>
			<!-- <div class="pt-4 w-full max-w-xl">
				<div>
					<div class="ritual w-full flex items-center bg-gray-100 rounded-lg p-5">
						<label class="inline-flex items-center cursor-pointer">
			                <input type="checkbox" class="form-checkbox border-2 border-line-gray rounded-full h-5 w-5 text-sm font-normal text-dark-gray cursor-pointer">
			                <p class="ml-3 text-medium-gray font-semibold text-gray-800 cursor-pointer">Health</p>
			            </label>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</body>
</html>
